{% extends 'blogapp/base.html' %}
{% block basecontent %}
<div class="container">
    <h1>Blogs</h1>
  <div class="media border p-3">
  <img src="{{blog.file.url}}" alt="image" class="mr-3 mt-3 " style="width:300px;">
  <div class="media-body">
    <!-- <p>{{request.user}}</p>
    <p>{{blog.author}}</p> -->

    <h4>{{blog.author}} <small><i>{{blog.posted_date | timesince}} ago</i></small></h4>
    <h5>{{blog.title}}</h5>
    <p>{{blog.description}}</p>
    {% if request.user.username == blog.author  %}
      <form  method="post">
        {% csrf_token %}
        <h5><a href="/delete/{{blog.id}}" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete</a>
        <a href="/update/{{blog.id}}" class="btn btn-success"><i class="fas fa-pen"></i> Update</a></h5>
      </form>
    {% endif %}

  </div>
</div>
<br>

</div>
{% endblock %}
